doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - BigLytics
    link(rel='stylesheet', href='/css/main.css')
    link(rel='shortcut icon', href='//www.biglytics.net/hubfs/Biglytics_Assets/G.png?t=1455029392916')

  body
    include partials/header

    .container
      include partials/flash
      block content

    include partials/footer

    script(src='/js/lib/jquery-2.2.0.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/main.js')

    // HS analytics code
          (function(d,s,i,r) {
            if (d.getElementById(i)){return;}
            var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
            n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/1976760.js';
            e.parentNode.insertBefore(n, e);
          })(document,"script","hs-analytics",300000);
